.env
target/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Dependencies
node_modules/

# Maven
.mvn/
mvnw
mvnw.cmd

# Docker volumes
*.vol

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf